body {
  background-color: #5f9df7;
}
* {
  margin: 0;
  padding: 0;
}
// main
.main {
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 2rem;
  width: max-content;
  background-color: #1746a2;
  width: 20rem;
  .form {
    width: 100%;
    position: relative;
    .input {
      padding: 0.4rem;
      border: none;
      border-radius: 0.5rem;
      width: 88%;
      transition: all 0.4s;
      padding-left: 1.8rem;
      font-size: 1rem;
      &:focus {
        outline: none;
        box-shadow: 1px 1px 15px 4px rgba(95, 157, 247, 0.7);
      }
    }
  }
  .weatherInfos {
    text-align: center;
    color: #dff6ff;
    margin-top: 1rem;
    font-size: 1.2rem;
    transition: all 0.4s;
    img {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      margin: 0.5rem 0;
    }
    p {
      margin: 0.5rem 0;
      &.description {
        text-transform: capitalize;
      }
      &.name {
        font-size: 1.5rem;
      }
    }
  }
}
.fa-magnifying-glass {
  position: absolute;
  top: 7px;
  left: 7px;
  scale: 1.1;
}
#error {
  color: rgb(223, 226, 21);
  font-weight: bold;
}
